button,
input[type="submit"],
input[type="button"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.registration-button {
	@extend %button;
	background: transparent;
	border: 1px solid #aaa;
	color: $tibetan-red;
	font-weight: 200;
}