<p>You have completed:</p>

<%= form_for @meditation_session do |f| %>

    <%= f.label :time_spent,  "No meditation" %>
    <%= f.text_field :time_spent, id: "time_spent", type: "hidden" %>
    <%= f.submit "Submit" %>

<% end %>