<ul class="hmenu">
  <li>
    <%= link_to 'Register', new_user_registration_path, class: 'registration-button', id: 'sign-up-button' %>
  </li>
  <li>
    <%= link_to 'Login', new_user_session_path, class: 'registration-button', id: 'log-in-button' %>  
  </li>
</ul>

<%= render "new_user_session" %>
<%= render "new_user_signup" %>