
  <% if @user %>

    <table id="sessions">
      <thead>
        <th>Date</th>
        <th>Minutes</th>
        <th>Comments</th>
        <th></th>
      </thead>
      <tbody>
      <%= render @meditation_session %>
      <tbody>
    </table>

    <%= button_to 'Meditate Now', new_meditation_session_path, method: :get, id: "new_session" %>

  <% else %>

  <h1 class="app-title">Meditation</h1>
  <%= render "registration" %>

  <% end %>

