<h1>Meditation</h1>

<%= render "registration" %>

<% if @user %>
  <ul id="sessions">
    <%= render @meditation_session %>
  </ul>
  <%= link_to 'New Meditation Session', new_meditation_session_path, id: "new_session", remote: true %> 
<% end %>