<div id = "new-session">
    <h4 id="date" class="session_date"><%= Time.now.to_formatted_s(:concise) %></h4>
    <div id="duration" class="session_duration"></div>
</div>
<div class="controls">
    <input id="pause" type="button" value="pause"/>
    <input id="start" type="button" value="start"/>
</div>
<div id="complete" style="display: none;">
    <%= render "meditation_complete" %>
</div>
